interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ydc-index.io/rag?query=What+is+in+an+egg%3F
  response:
    body:
      string: '{"answer":"An egg contains high-quality protein, essential vitamins
        such as A, D, E, B12, and minerals like phosphorus. It also provides omega-3
        fatty acids, antioxidants, choline, and disease-fighting nutrients like lutein
        and zeaxanthin. Additionally, eggs are a source of fat, with about 4 grams
        per medium egg, including 1g saturated and 2g unsaturated fats.","hits":[{"ai_snippets":"This
        protein is highly digestible and may provide satiety (keeping you fuller for
        longer), which helps weight management. ... Older adults: maintaining muscle
        mass and strength. ... A medium egg contains about 4 grams of fat \u2013 roughly
        1g saturated and 2g unsaturated. The fat in eggs supply energy and contain
        fat-soluble vitamins.","description":"<strong>Eggs</strong> are suggested
        as a good protein to include in the diet of people with diabetes. Diabetes
        NZ, in-line with the Heart Foundation and Ministry of Health says six to seven
        <strong>eggs</strong> a week is OK for people with diabetes","snippet":"This
        protein is highly digestible and may provide satiety (keeping you fuller for
        longer), which helps weight management. ... Older adults: maintaining muscle
        mass and strength. ... A medium egg contains about 4 grams of fat \u2013 roughly
        1g saturated and 2g unsaturated. The fat in eggs supply energy and contain
        fat-soluble vitamins.","title":"Eggs - what do they contain? - NZ Nutrition
        Foundation","url":"https://nutritionfoundation.org.nz/eggs-what-do-they-contain/"},{"ai_snippets":"Plus
        they\u2019re a natural source of key nutrients, including omega-3 fatty acids,
        Vitamins A, D, E, and B12, antioxidants, and choline. And to cap it off, they\u2019re
        delicious! Though we\u2019ve been eating eggs long before recorded history,
        we\u2019re still only now learning just how essential they are to our health
        - and science is starting to uncover the truth behind lo[...]
