interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ydc-index.io/rag?query=What+is+in+an+egg?
  response:
    body:
      string: '{"answer":"An egg contains a variety of nutrients such as fat-soluble
        vitamins like A, D, and E, essential omega-3 fatty acids, protein, and cholesterol.
        The egg white is rich in protein, while the yolk contains most of the nutrients
        and fats. Additionally, eggs are a natural source of Vitamin D, calcium, and
        carotenoids like lutein and zeaxanthin.","hits":[{"ai_snippets":"Many healthy
        foods have been unfairly demonized in the past, including coconut oil, cheese
        and unprocessed meat. But among the worst examples are the false claims about
        eggs, which are one of the healthiest foods on the planet. ... Historically,
        eggs have been considered unhealthy because they contain cholesterol. A large
        egg contains 207 mg of cholesterol, which is a lot compared to most other
        foods ( ... However, many studies have shown that the dietary cholesterol
        in eggs does not adversely affect cholesterol levels in the blood.","description":"Many
        healthy foods have been unfairly ... past, including coconut oil, cheese and
        unprocessed meat. But among the worst examples are the false claims about
        <strong>eggs</strong>, which are one of the healthiest foods on the planet.
        ... Historically, <strong>eggs</strong> have been considered unhealthy because
        they contain cholesterol. A large <strong>egg</strong> contains 207 mg of
        cholesterol, which is a lot compared ...","snippet":"Many healthy foods have
        been unfairly demonized in the past, including coconut oil, cheese and unprocessed
        meat. But among the worst examples are the false claims about eggs, which
        are one of the healthiest foods on the planet. ... Historically, eggs have
        been considered unhealthy because they contain cholesterol. A large egg contains
        207 mg of cholesterol, which is a lot compared to most other foods ( ... However,
        many studies have shown that the dietary cholesterol in eggs does not adversely
        affect cholesterol levels in the blood.","title":"Why Are Eggs Good for You?
        An Egg-Ceptional Superfood","url":"https://www.healthline.com/nutrition/why-are-eggs-good-for-you"},{"ai_snippets":"When
        most people think of iron-rich foods, their minds immediately go to red meats
        and spinach. While these are all great sources, did you know iron is also
        found in a variety of everyday foods \u2014 like eggs!","description":"It\u2019s
        time to whisk away all the myths, misconceptions, and assumptions. Let\u2019s
        find out once and for all\u2026 What\u2019s in an egg white? A[...]
