interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-Key:
      - e1da8f8f-c765-40dd-aa62-d39981d12469<__>1ORXKQETU8N2v5f47KSMCgcG-PG3RqNhvekERQg
    method: GET
    uri: https://api.ydc-index.io/rag?query=What+is+in+an+egg%3F
  response:
    body:
      string: '{"answer":"An egg contains various parts, including the shell, membranes,
        albumen (egg white), yolk, chalazae, germinal disc, and air sac. The yolk
        contains fat-soluble vitamins like A, D, and E, essential omega-3 fatty acids,
        and most of the protein is found in the egg white. Additionally, eggs are
        a good source of choline, proteins, fats, and nutrients like lutein and zeaxanthin,
        which are beneficial for eye health.","hits":[{"ai_snippets":"Also, they only
        contain trace amounts of carbohydrates, which means they will not raise your
        blood glucose levels.\nIn a study in 30 overweight or obese women that ate
        either a bagel or eggs for breakfast, the egg group ended up eating less during
        lunch, the rest of the day and for the next 36 hours (\nIn another study,
        overweight adults were calorie-restricted and given either two eggs (340 calories)
        or bagels for breakfast (\nAfter eight weeks, the egg-eating group experienced
        the following:\n- 61% greater reduction in BMI\n- 65% more weight loss\n-
        34% greater reduction in waist circumference\n- 16% greater reduction in body
        fat\nThis difference was significant even though both breakfasts contained
        the same number of calories.\nPut simply, eating eggs is an excellent weight
        loss strategy on a reduced-calorie diet.\nSummary\nEggs are a nutritious,
        protein-rich food with a strong impact on satiety. Studies show that eating
        eggs for breakfast can help you lose weight.","description":"Many healthy
        foods have been unfairly ... past, including coconut oil, cheese and unprocessed
        meat. But among the worst examples are the false claims about <strong>eggs</strong>,
        which are one of the healthiest foods on the planet. ... Historically, <strong>eggs</strong>
        have been considered unhealthy because they contain cholesterol. A large <strong>egg</strong>
        contains 207 mg of cholesterol, which is a lot compared ...","snippet":"Also,
        they only contain trace amounts of carbohydrates, which means they will not
        raise your blood glucose levels.\nIn a study in 30 overweight or obese women
        that ate either a bagel or eggs for breakfast, the egg group ended up eating
        less during lunch, the rest of the day and for the next 36 hours (\nIn another
        study, overweight adults were calorie-restricted and given either two eggs
        (340 calories) or bagels for breakfast (\nAfter eight weeks, the egg-eating
        group experienced the following:\n- 61% greater reduction in BMI\n- 65% more
        weight loss\n- 34% greater reduction in waist circumference\n- 16% greater
        reduction in body fat\nThis difference was significant even though both breakfasts
        contained the same number of calories.\nPut simply, eating eggs is an excellent
        weight loss strategy on a reduced-calorie diet.\nSummary\nEggs are a nutritious,
        protein-rich food with a strong impact on satiety. Studies show that eating
        eggs for breakfast can help you lose weight.","title":"Why Are Eggs Good for
        You? An Egg-Ceptional Superfood","url":"https://www.healthline.com/nutrition/why-are-eggs-good-for-you"},{"ai_snippets":"Egg
        Allergies\nMany children are able to tolerate baked eggs even when they\u2019re
        allergic to raw eggs (to test this, seek the advice of a health professional).
        And most children with an egg allergy will outgrow it and be able to tolerate
        eggs by the age of four.\nCholine in Eggs\nAustralian and international studies
        are increasing our awareness and understanding of the ess[...]
