default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        stages: [commit, manual]
      - id: pretty-format-json
        stages: [commit, manual]
        args: [--autofix]
        exclude: .vscode|dist|build|.venv
      - id: sort-simple-yaml
        stages: [commit, manual]
      - id: mixed-line-ending
        stages: [commit, manual]
      # - id: flake8
      #   stages: [commit, manual]
      - id: fix-encoding-pragma
        stages: [commit, manual]
        args: ["--remove"]
      - id: end-of-file-fixer
        stages: [commit, manual]
      - id: detect-private-key
        stages: [commit, manual]
      - id: debug-statements
        stages: [commit, manual]
      - id: check-yaml
        exclude: "k8s"
        stages: [commit, manual]
        args: ["--unsafe"]
      - id: check-xml
        stages: [commit, manual]
      - id: check-toml
        stages: [commit, manual]
      - id: check-merge-conflict
        stages: [commit, manual]
      - id: check-json
        stages: [commit, manual]
        exclude: .vscode
      - id: check-executables-have-shebangs
        stages: [commit, manual]
      - id: check-docstring-first
        stages: [commit, manual]
      - id: check-case-conflict
        stages: [commit, manual]
      - id: fix-byte-order-marker
        stages: [commit, manual]
      - id: check-builtin-literals
        stages: [commit, manual]
      - id: check-ast
        stages: [commit, manual]
      - id: check-added-large-files
        stages: [commit, manual]
        args: ["--maxkb=2500"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/pylint
    rev: v3.2.5
    hooks:
      - id: pylint
        types: [python]
        args: [--rcfile, .pylintrc, -sn]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
      - id: mypy
        args: [--show-error-codes, --show-traceback]
        additional_dependencies:
          - asyncio==3.4.3
          - aiohttp==3.9.5
          - aiolimiter==1.1.0
          - anthropic==0.31.2
          - pydantic==2.4.2
          - pytest==8.2.2
          - types-python-dateutil==2.8.19.13
          - types-requests==2.31.0.1
          - openai==1.36.0
          - vcrpy==6.0.1
  # - repo: https://github.com/yunojuno/pre-commit-xenon
  #   rev: v0.1
  #   hooks:
  #     - id: xenon
  #       files: ^(adapters)
  #       args:
  #         ["--max-absolute", "B", "--max-modules", "B", "--max-average", "B"]
  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.9"
    hooks:
      - id: bandit
        files: ^co2ai
  - repo: https://github.com/lk16/detect-missing-init
    rev: v0.1.6
    hooks:
      - id: detect-missing-init
        args: ["--track", "--python-folders", "adapters, tests"]
